* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animations*/
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}






@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }

    to {
        color: gray;
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}


/*End OF Animations*/

body {
    background-color: #fff;
    color: black;
    font-size: 20px;
    font-family: 'Capriola', sans-serif;

}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* Start Header Style*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url(/img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo-img {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 15px;
}

.logo-img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.main-nav {
    float: right;
    margin-top: 40px;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;

}

.main-nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: large;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: #e67e22 3px solid;
    color: gold;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;

}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    color: white;
    font-weight: 400;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: linear 0.5s;
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.button-orange {
    background-color: #e67e22;
    color: white;
}

.button-gost {
    border: 1px #e67e22 solid;
    color: #e67e22;
}


.button-orange:hover {
    background-color: white;
    color: orange;
    cursor: pointer;
    box-shadow: 3px 3px 3px gold;
}

.button-gost:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 3px red;
}

/* End Header Style*/

/* Start Features Section Style*/
section {
    padding: 30px 0px;

}

.section-features h2 {
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-style: 150%;
    margin: 0 auto;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

h3 {
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-style: 150%;
    margin-bottom: 15px;
}

h3:hover {
    animation: glow 3s ease-in-out infinite alternate;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
}

h3::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.section-features-paragraph {
    line-height: 145%;
    width: 70%;
    margin: 0 auto;
}

p {
    font-style: italic;
}

.grid-box {
    padding: 0.1%;
}

i {
    color: orangered;
    font-size: xx-large;
}

i:hover {
    color: orchid;
    transition: ease-in-out 2s;
    -webkit-transition: ease-in-out 2s;
    -moz-transition: ease-in-out 2s;
    -ms-transition: ease-in-out 2s;
    -o-transition: ease-in-out 2s;
}

/* End Features Section Style*/

/* Start Meal Section Style*/
.section-meal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.section-meal img {
    margin: 15px;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.section-meal img:hover {
    box-shadow: black 5px 5px 5px;
    border: blueviolet 3px solid;
    transform: scale(1.1);
    opacity: 0.9;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* End Meal Section Style*/


/* Start How to Section Style*/
.how-it-work {

    text-align: center;
    background-color: rgb(243, 243, 243);
}


.app-screen {
    width: 35%;
    margin: 0 auto;

}

.steps {
    display: inline-flex;
    justify-content: center;
    margin: 25px auto;
}

.button-app img:hover {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: gray 5px 5px 5px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* End How to Section Style*/


/* Start Cites Section Style*/

.cites h3 {
    text-align: center;
}

.cites-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;

}

.city-name {
    text-align: center;
    font-style: italic;
    animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.cites-list img {
    width: 250px;
    height: 250px;
    margin: 25px;
}

.cites-list img:hover {
    border: 3px solid violet;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 4px 4px 5px yellow;
    transition: ease-in-out 2s;
    -webkit-transition: ease-in-out 2s;
    -moz-transition: ease-in-out 2s;
    -ms-transition: ease-in-out 2s;
    -o-transition: ease-in-out 2s;
}


.cites-info {
    border: grey dotted 1px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

}


i span{
    color:black;
    margin: 10px;
}
/* End Cites Section Style*/

/* Start testimonials Section Style*/
.Customer-testimonials{
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8)) ,url(/img/back-customers.jpg);
    background-position: center;
    background-size: cover;
}


.testimonials-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.testimoials-details{
    width: 30%;
    margin: 10px;
    padding: 10px;
    color:white;

}



.testimoials-details blockquote{
    animation: text-focus-in 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -webkit-animation: text-focus-in 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.testimoials-details img{
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

/* End testimonials Section Style*/

/* Start Sign Up Section Style*/
.prices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    text-align: center; 
    padding: 10px;

   
}

.prices-details{
    background-color: rgb(223, 223, 223);
    border: black 1px solid;
    width: 31%;
    margin: 10px;
    padding: 25px;
    color:black;
    box-shadow: blue 4px 4px 4px;

}

.prices-details span{
    color: orangered;
    font-weight: 800;
    font-style: italic;
}

.prices-details li{
    padding: 10px;
}

/* End Sign Up Section Style*/

/*Start FOrm Section Style*/
.app-form{
    text-align: center;
    padding: 10px;
}

.form-items{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: rgb(223, 223, 223);
    border: black 1px solid;
    width: 100%;
   
    color:black;
    box-shadow: turquoise 4px 4px 4px;
}
